<!-- Page Content -->
<div class="container">

    <div class="row" id="title">
      <div class="col-md-offset-1 col-md-8">
        <h1>Kameron Hay</h1>
        <p>Kameron is a forward thinking and engaging multimedia journalist who excels at providing throught provoking material.</p>
      </div>
      <div class="col-md-offset-1 col-md-6">
        <%= link_to "Read More", posts_path, class: "btn btn-primary" %>
      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
