<% content_for :title do %>About Kameron<% end %>
<h1 class="page-title">About Me</h1>
<hr class="header-hr"/>
<div class="container">
  <!-- row-start -->
  <div class="row">
    <%= image_tag("kam1.jpg",  id: "header-img")%>
    <div id="header-box" class="col-md-offset-3 col-md-7">
      <h1>Kameron Hay</h1>
      <h5>Kameron is a forward thinking and engaging multimedia journalist who excels at providing throught provoking material.</h5>
    </div>
  </div>
  <!-- row-end -->

  <!-- row-start -->
  <div class="row">
    <%= image_tag("kam2.jpg", id: "body-img") %>
    <div class="col-md-9 col-sm-7 text-center" id="more-box">
      <h3>More About Kameron</h3>
      <p>Kameron is a forward thinking and engaging multimedia journalist who
        excels at providing thought provoking material. Kameron has done freelance
        work for Bay Area music site Mixologi.com covering album reviews while
        also producing content on the latest trends and stories in pop culture.
        He has interned for New Orleans based hip hop and culture publication
        Shive Magazine while also overseeing his own music blog site kamhay.com.
        While attending Loyola University New Orleans he was a staff writer for
        the university’s award winning Maroon Newspaper. He is well versed in all
        forms of social media, writing, and video editing. He also has experience
        using applications such as Photoshop, Final Cut Pro, Avid, and Microsoft.
        Kameron is a member of the National Association of Black Journalists Student
        Task Force as well. Kameron’s goals in life are to write for magazines and
        websites such as Complex, XXL Magazine, ESPN’s The Undefeated, Spin and
        other sites or publications with similar focuses. Being an on air personality
        is also a goal of his.
      </p>
    </div>
  </div>
  <!-- row-end -->

  <!-- row-start -->
  <div class="row" id="last-about-row">
    <%= image_tag("stuartscott.jpg", id: "inspiration__img") %>
    <h1>Inspirations</h1>
    <div class="col-md-9 col-sm-7 text-center" id="inspiration__box">
      <h3>I am obsessed with fashion and sneakers
      I’m a huge hip hop enthusiast
      People That Inspire Me:</h3>
      <ul>
        <li>Marvin and Tracy Hay</li>
        <li>Kanye West</li>
        <li>Marc Spears</li>
        <li>Pierce Simpson</li>
        <li>Rob Markman</li>
        <li>Sway Calloway</li>
        <li>Joe La Puma</li>
        <li>StuartScott</li>
        <li>Bomani Jones</li>
        <li>Elliot Wilson</li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to(posts_path) do %>
      <div class="col-md-9 col-sm-7 text-center btn btn-primary" id="posts__link">
        <h3>Check out my work</h3>
      </div>
    <% end %>
  </div>
  <!-- row-end -->

</div>
