<h1 class="page-title">Contact Kameron</h1>
<p>You can contact me via email, phone, and social media</p>

<p>Email: kamantoine5@gmail.com</p>
<p>View my LinkedIn: <%= link_to "Here", "https://www.linkedin.com/in/kameron-hay-742112111/" %></p>
