<% content_for :title do %>Kameron's Freelance Work<% end %>
<h1 class="page-title">Freelance Work</h1>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p>These are links to previous work I have done for Shive Magazine, Bay Area based music site Mixologi, and the award winning Loyola University Maroon Newspaper.</p>
  <ul id="freelance__work">
    <li><%= link_to "Written Work @ Mixologi", "http://www.mixologi.com/author/kameronhay/" %></li>
    <li><%= link_to "Written Work @ Maroon", "http://www.loyolamaroon.com/staff/?writer=Kameron%20Hay" %></li>
    <li><%= link_to "Written Work @ Shive", "http://www.shivemagazine.com/author/kameron/" %></li>
  </ul>
</div>
