<% content_for :title do %>Kameron's  Resume<% end %>
<h1 class="page-title">Kameron's Resume</h1>
<%= link_to "Click To Download Resume", '/assets/ResumeKameronHay2.pdf', id: "resume" %>
<div class="timeline">
    <h2>2013</h2>
    <ul>
      <li>
        <h3>The Maroon</h3>
        <ul>
          <p>Assistant sports editor from 2013-2014</p>
          <p>Covered sports for the paper such as volleyball, mens and women’s basketball</p>
          <p>Covered breaking news stories for the paper as well</p>
          <p>The Maroon newspaper won the 2015 ACP Pacemaker Award</p>
        </ul>
        <time>November 2013-May 2017</time>
      </li>
      <li>
        <h3>Maroon Minute</h3>
        <p>Served as the director and anchor for the morning newscast</p>
        <p>Anchored and produced pop culture segment for the Maroon’s digital media platform “The Uptown Howl”</p>
        <time>January 2016-May 2017</time>
      </li>
    </ul>

    <h2>2016</h2>
    <ul>
      <li>
        <h3>Mixologi</h3>
        <p>Staff Writer and Contributor</p>
        <p>Covering New Artists and Think Pieces</p>
        <time>February 2016-July 2016</time>
      </li>
      <li>
        <h3>Brand B Sports Management</h3>
        <p>Worked as Social Media Intern for Sports Company</p>
        <p>Assisted with marketing ideas relating to clients and corporations</p>
        <time>May 2016-November 2016</time>
      </li>
      <li>
        <h3>Shive Magazine</h3>
        <p>Served as an editorial intern for the New Orleans based culture magazine</p>
        <p>Produced editorial content centered around pop culture and entertainment</p>
        <p>Produced content for the website through Wordpress</p>
        <time>November 2016-Present</time>
      </li>
    </ul>
    <h2>2017</h2>
    <ul>
      <li>
        <h3>Nola.com</h3>
        <p>Produced sports stories pertaining to local sports teams and events for nola.com</p>
        <time>March 2017</time>
      </li>
      <li>
        <h3>Complex News</h3>
        <p>Served as an intern under the Complex News department</p>
        <p>Produced stories and online content for Complex, along with assisting to help find stories for the news cycle.</p>
        <p>Most of the work produced centered around music and style.</p>
      </li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>
        <p>Loyola University New Orleans B.A. in Mass Communication Focus in Journalism. I minored in English Literature</p>
      </li>
    </ul>
    <h2>References</h2>
    <ul>
      <li>
        <h3>Marc Spears</h3>
        <p>NBA Writer for Yahoo</p>
      </li>
      <li>
        <h3>Michael Giusti</h3>
        <p>Head of Loyola Maroon Paper</p>
      </li>
      <li>
        <h3>Pierce Simpson</h3>
        <p>Editorial Producer and On Air Personality for Complex Magazine and News</p>
      </li>
    </ul>
  </div>
