/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,900i|Raleway:100,400,400i,500');

$color-1: #99d3df;
$color-2: #88BBD6;
$color-3: #CDCDCD;
$color-4: #e9e9e9;

@mixin full-screen-bg($image-url) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(asset-path($image-url)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100%;
}

header#nav {
  height: 5em;
  position: fixed;
  right: 0;
  width: 21%;
  z-index: 100;
}
.page-title {
  border-bottom: 4px solid salmon;
  color: black;
  font-family:  Playfair Display;
  font-size: xx-large;
  padding-left: 3%;
  padding-bottom: 13px;
  width: 25rem;
}

.btn {
  color: white;
  border: 2px solid salmon;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  border-radius: 0px;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-right: 6%;
  &:hover {
    background: salmon;
    color: $color-4;
  }
  &:active {
    top: 2px;
  }
}

#resume {
  position: relative;
  font-family: "Raleway";
  font-size: large;
  left: 25%;
  margin: 1em 0;
  text-align: center;
}

p#trigger-overlay {
  color: $color-1;
	cursor: context-menu;
	font-family: "Playfair Display";
  font-size: -webkit-xxx-large;
	font-style: italic;
	font-weight: 900;
  position: absolute;
  position: absolute;
  right: 10%;
  top: 21%;
	&:hover {
		color: $color-2;
		transition: .4s;
	}
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $color-2;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(asset-path("cross.png")) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 10);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: x-large;
	display: block;
	color: $color-4;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: $color-1;
  background-color: transparent;
  text-decoration: none;
}

/* Effects */
html, body {
	overflow-x: hidden;
}

.container {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.container.overlay-open {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}

.container::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: $color-2;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	z-index: 1000;
  nav ul li {
		color: $color-3;
    font-family: "Raleway";
		text-transform: uppercase;
		font-weight: 500;
  }
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

.visitors {
  .container {
  @include full-screen-bg("visitors_bg2.jpg");
    #title {
      position: relative;
      top: 26%;
      h1 {
				color: white;
        font-family: "Playfair Display";
        font-size: 5em;
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
				color: white;
				font-family: "Raleway";
		    font-size: 3rem;
		    line-height: 5rem;
      }
			a.btn.btn-primary {
				background-color: transparent;
		    border: 3px solid white;
		    border-radius: 0px;
		    color: white;
				font-family: "Raleway";
				font-size: 3em;
		    padding: 3% 25%;
		    margin-bottom: 10%;
				transition: .4s;
				&:hover {
					background: white;
					color: $color-2;
				}
			}
    }
  }
}

.grid {
  height: 100vh !important;
}

.pages {
  color: white;
  .timeline {
    position: relative;
    overflow: auto;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 5px;
      background: $color-1;
      left: 0;
    }

    h2 {
      background: $color-1;
      font-family: "Raleway";
      font-size: x-large;
      max-width: 6em;
      margin: 0 auto 1em;
      padding: 0.5em;
      text-align: center;
      position: relative;
      clear: both;
    }

    ul {
      list-style: none;
      padding: 0 0 0 1em;
      z-index: 1;
    }

    li {
      background: $color-1;
      padding: 1em;
      margin-bottom: 1em;
      position: relative;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 1em solid $color-1;
        border-left: 1em solid transparent;
        position: absolute;
        left: -1em;
        top: 0;
      }
    }

    h3 {
      margin-top: 0;
    }

    time {
      font-style: italic;
    }
  }

  @media screen and (min-width: 40em) {
    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

    .timeline {
      &:before {
        left: 50%;
      }

      ul {
        padding-left: 0;
        max-width: 700px;
        margin: 0 auto;
      }

      li {
        width: 42%;
      }

      li:nth-child(even) {
        float: right;
        margin-top: 2em;
      }

      li:nth-child(odd) {
        float: left;

        &:before {
          border-top: 1em solid $color-1;
          border-right: 1em solid transparent;
          right: -1em;
          left: auto;
        }
      }

      li:nth-of-type(2n+1) {
        clear: both;
      }
    }
  }
  .grid-item {
    width: 32%;
    padding:  0;
    margin:  0;
    display:  inline-block;
    iframe {
      width: 100%;
    }
  }
  .row {
    position: relative;
  }
  p {
    color: black;
    font-family: "Raleway";
    font-size: large;
  }
  #freelance__work {
    font-family: "Raleway";
    font-size: x-large;
    li {
      margin: 5% 0;
    }
  }
	#more-box p {
    color: white;
		line-height: 23px;
	}
  #header-img {
    position: absolute;
    width: 30%;
  }
  #body-img {
    position: absolute;
    right: 3%;
    width: 40%;
  }
  #more-box {
    background:  $color-2;
    margin-bottom: 10%;
    margin-top: 23%;
    padding: 20px;
    h3 {
      font-family: "Playfair Display";
      font-weight: 500;
      font-style: italic;
    }
  }
  #header-box {
    background-color: salmon;
		margin-bottom: 17%;
    margin-left: 16%;
		margin-top: 5%;
    padding: 10px;
    width: 80%;
    h1 {
      font-family: "Playfair Display";
      font-weight: 600;
      font-style: italic;
    }
    h5 {
      font-family: "Raleway";
      font-size: 1.5em;
      font-weight: 300;
    }
  }
}
