// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-alpha: #d0f2ee;
$color-black: #000;
$color-grey: #a9b1b3;
$color-white: #fff;
$color-1: #99d3df;
$color-2: #88BBD6;
$color-3: #CDCDCD;
$color-4: #e9e9e9;
$font: 'Playfair Display';
$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
@mixin nth-animation-delay($items: 3, $time: 0.1s) {
  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-delay: $time * $i;
    }
  }
}

.posts {
  width: 100%;

  #clip__link {
    position: absolute;
    top: 6%;
    left: 4%;
    color: white;
    mix-blend-mode: difference;
  }

  img {
    width: 100%;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  .grid {
    width: 100%;

    .grid-sizer {
      width: 100%;
    }

    #brand {
      width: 25%;

      h1 {
        border-bottom: 0.1em solid black;
        font-family: Raleway;
        font-size: 4.5em;
        text-align: center;
        font-weight: 600;
        line-height: 1.132em;
        margin: 0 auto;
        padding: 5px 20%;
        overflow-wrap: break-word;
        width: 90%;
      }

      p {
        font-family: Raleway;
        margin-top: 15%;
        text-align: center;
      }
    }

    #categories {
      width: 75%;

      h5 {
        font-family: Raleway;
        font-size: x-large;
        padding-left: 8%;
        text-align: center;
      }

      ul {
        padding: 0;

        li.btn {
          display: inline;
          font-size: 1em;
          color: white;
          padding: 1% 2.5%;
          margin: 1%;
          a:hover {
            background-color: transparent;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    .grid-item {
      position: relative;
      width: 25%;
      overflow: hidden;
      .admin__link {
        color: cornflowerblue;
        position: absolute;
        top: 0;
      }
      .admin__link.destroy {
        right: 4%;
      }
      img {
        display: block;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        background: transparent;
        transition: 0.5s ease;
        background-image: linear-gradient(to right, black, transparent);
        a.btn.btn-primary {
          color: white;
          border: 2px solid salmon;
          padding: 1% 2.5%;
          font-family: 'Raleway', sans-serif;
          font-size: small;
          font-weight: 500;
          background: transparent;
          border-radius: 0;
          position: absolute;
          outline: none !important;
          cursor: pointer;
          transition: all 0.3s ease;
          float: right;
          right: 6%;
          top: 64%;
          margin-right: 6%;

          &:hover {
            background: salmon;
            color: $color-4;
          }
        }
      }

      .title h3 {
        color: white;
        font-family: Playfair Display;
        font-size: xx-large;
        font-weight: 600;
        line-height: 1.3em;
        padding: 8%;
        width: 80%;
      }
    }

    .grid-item,
    .grid-sizer {
      float: left;
    }
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  article.post {
    h1 {
      margin-top: 1em;
      font-family: "Playfair Display";
      margin-bottom: 1.25em;
      font-size: 4em;
      font-weight: 900;
      line-height: 0.9;
    }

    ul li {
    list-style: circle;
    font-family: Playfair Display;
    font-style: normal;
    }

    p {
      font-family: "Raleway";
      font-weight: 400;
      margin: 0;
      margin-bottom: 1.5em;
      color: black;
      text-indent: 1.5em;
    }

    a {
      padding: 0.5em 1em;
      font-size: 0.8em;
      color: $color-grey;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      border: 1px solid $color-grey;
      transition: all 0.3s ease-in;

      &:active,
      &:focus,
      &:hover {
        color: $color-white;
        background-color: $color-grey;
      }
    }
  }

  figure {
    margin: 0;
  }
  /**
 * Text Selection
 */
  &::selection {
    color: $color-white;
    background-color: $color-alpha;
    text-shadow: none;
  }
  /**
 * Components
 */
  .post {
    min-height: 100vh;
    width: 100%;
    border: 0.5em solid $color-white;
    @media (min-width: $mq-md) {
      display: flex;
      height: 100vh;
      min-height: 40em;
    }

    & > *:first-child {
      position: relative;
      height: 14em;
      background-color: $color-black;
      @media (min-width: $mq-sm) {
        height: 18em;
      }
      @media (min-width: $mq-md) {
        flex-basis: 50%;
        max-width: 50%;
        height: auto;
      }
      @media (min-width: $mq-xl) {
        flex-basis: 60%;
        max-width: 60%;
      }
    }

    & > *:last-child {
      @media (min-width: $mq-md) {
        flex-basis: 50%;
        max-width: 50%;
      }
      @media (min-width: $mq-xl) {
        flex-basis: 40%;
        max-width: 40%;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2em;
      overflow-y: auto;
    }

    &__category {
      position: relative;
      font-weight: 600;
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 3em;
        background-color: $color-black;
        animation: slide-in 1s ease-in both 0.5s;
      }
    }

    &__content {
      padding: 2em 0;
      @media (min-width: $mq-md) {
        padding: 0 4em;
      }
    }

    &__time {
      display: inline-block;
      margin-bottom: 0.5em;
      font-weight: 600;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    &__header {
      overflow: hidden;

      span {
        @include nth-animation-delay();
        display: inline-block;
        animation: slide-up 0.8s ease-in-out both;
      }
    }

    &__text {
      font-weight: 300;
      animation: fade-in 0.8s ease-in-out both 0.5s;
    }

    &__link {
      text-align: right;
    }
  }
  /**
 * Helpers
 */
  .absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: fade-in 0.8s ease-in-out both 0.6s;
  }
  /**
 * Animations
 */
  @keyframes slide-in {
    0% {
      transform: translate3d(-100%, 0, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    90% {
      opacity: 1;
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .posts .grid .grid-item .title h3 {
    font-size: 0.5em;
  }
  .posts .grid .grid-item .overlay a.btn.btn-primary {
    font-size: 0.5em;
  }
  .posts .grid #brand h1 {
    font-size: 0.8em;
  }
}
@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .posts .grid .grid-item .title h3 {
    font-size: 0.8em;
  }
  .posts .grid .grid-item .overlay a.btn.btn-primary {
    font-size: 0.5em;
  }
  .posts .grid #brand h1 {
    font-size: 0.8em;
  }
}
@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .posts .grid .grid-item .title h3 {
    font-size: 1.3em;
  }
  .posts .grid .grid-item .overlay a.btn.btn-primary {
    font-size: 1em;
  }
  .posts .grid #brand h1 {
    font-size: 3em;
  }
}
@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .posts .grid .grid-item .title h3 {
    font-size: 1.6em;
  }
  .posts .grid .grid-item .overlay a.btn.btn-primary {
    font-size: 1em;
  }
  .posts .grid #brand h1 {
    font-size: 3em;
  }
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .posts .grid .grid-item .title h3 {
    font-size: 1.8em;
  }
  .posts .grid .grid-item .overlay a.btn.btn-primary {
    font-size: 1em;
  }
  .posts .grid #brand h1 {
    font-size: 6em;
  }
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .posts .grid .grid-item .title h3 {
    font-size: 2.6em;
  }
  .posts .grid .grid-item .overlay a.btn.btn-primary {
    font-size: 1em;
  }
  .posts .grid #brand h1 {
    font-size: 6em;
  }
}
